<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/grid.css">
    <link rel="stylesheet" href="../styles/card.css">
    <title>Personal Blog Website</title>
</head>

<body>
    <div class="main-container">
        <header class="navbar-container">
            <div class="container">
                <div class="navbar-logo">RR.</div>
                <ul class="navbar-menu">
                    <li class="navbar-link"><a href="#">Home</a></li>
                    <li class="navbar-link"><a href="#">About</a></li>
                    <li class="navbar-link"><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>
        <div class="container header-container">
            <h1 class="title">Welcome!</h1>
            <p class="subtitle">Have fun reading about the things <br>
                that I like the most</p>
        </div>
        <div class="container grid-container">
            <div class="card grid-element-expanded" style="background-image: url('../assets/vegan-post.jpeg')">
                <div class="card-title">
                    Why I am vegan <br> (and you should be vegan too)
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
            <div class="card" style="background-image: url('../assets/zwaste-post.jpeg')">
                <div class="card-title">
                    10 tips <br>to go zero waste
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
            <div class="card" style="background-image: url('../assets/minimalism-post.jpeg')">
                <div class="card-title">
                    Huge benefits <br> of minimalism
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
            <div class="card" style="background-image: url('../assets/forest-post.jpeg')">
                <div class="card-title">
                    Tree hugs <br> are magical
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
            <div class="card" style="background-image: url('../assets/coffee-post.jpeg')">
                <div class="card-title">
                    Specialty coffe <br> favourites
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
            <div class="card grid-element-expanded" style="background-image: url('../assets/climate-post.jpeg')">
                <div class="card-title">
                    Urgent climate emergency changes <br> you should make
                </div>
                <button class="card-button">
                    Read post
                </button>
            </div>
        </div>
    </div>
    <footer>
        © 2020 - Roser Reverte
    </footer>
    </div>
</body>

</html>