<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Roboto:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/card.css">
    <link rel="stylesheet" href="../styles/main-post.css">
    <link rel="stylesheet" href="../styles/grid-post.css">
    <link rel="stylesheet" href="../styles/author-post.css">

    <title>Blog post</title>
</head>

<body>
    <div class="main-container">
        <header class=" container navbar-container">
            <div class="navbar-logo">RR.</div>
            <ul class="navbar-menu">
                <li class="navbar-link"><a href="#">Home</a></li>
                <li class="navbar-link"><a href="#">About</a></li>
                <li class="navbar-link"><a href="#">Contact</a></li>
            </ul>
            <img class="navbar-avatar" src="../assets/login-avatar.png" alt="">
        </header>
        <header class="container navbar-container narrow">
            <ul class="navbar-menu">
                <li class="navbar-link"><a href="#">Home</a></li>
                <li class="navbar-link"><a href="#">About</a></li>
                <li class="navbar-link"><a href="#">Contact</a></li>
            </ul>
        </header>

        <div class="post-background-color">
            <header class="container post-title-container">
                <h1>Eat your veggies and save the planet</h1>
            </header>
            <div class="container post-container">
                <figure class="picture-post-fig">
                    <img src="../assets/post-image-avocado.jpeg" alt="">
                    <figcaption>Photo by Katarina Šikuljak on Unsplash</figcaption>
                </figure>
                <div class="post-grid-container post-text">
                    <section class="post-article">
                        <h2>Celery quandong swiss chard chicory earthnut pea potato. Salsify taro
                            catsear?
                        </h2>
                        <h3>Corn amaranth salsify bunya nuts
                            nori</h3>
                        <p>
                            Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts
                            fava
                            bean
                            collard greens dandelion okra wakame tomato. Dandelion <span
                                style="color:green">cucumber</span> earthnut pea peanut soko
                            zucchini.
                            swiss chard seakale pumpkin onion chickpea gram corn pea.
                        </p>
                        <h4>Celery quandong <span style="text-decoration:underline"> carrot
                                watercress</span> chicory earthnut:</h4>
                        <p>
                            Brussels sprout coriander water
                            chestnut
                            gourd
                            swiss chard wakame kohlrabi. Corn amaranth salsify bunya nuts
                            nori
                            azuki
                            bean
                            chickweed potato bell pepper artichoke

                        </p>

                    </section>
                    <section class="post-author">
                        <div class="card card-shadow card-author">
                            <div class="avatar-author">
                                <img src="../assets/author-avatar.png" alt="">
                            </div>
                            <ul class="info-author">
                                <li>Roser Reverte</li>
                                <li>Front End Dev</li>
                                <li>student at Udacity</li>
                            </ul>
                            <div class="bio-author">
                                <p>Beetroot water spinach okra water chestnut ricebean pea catsear courgette summer
                                    purslane. Water spinach arugula pea tatsoi aubergine spring onion bush tomato kale
                                    radicchio turnip chicory salsify pea sprouts fava bean.</p>
                            </div>
                            <ul class="socialmedia-author">
                                <li>
                                    <a href="#">
                                        <img src="../assets/facebook.png" alt="Facebook">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../assets/twitter.png" alt="Twitter">
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <img src="../assets/linkedin.png" alt="Linkedin">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>

            </div>
        </div>
        <footer>
            © 2020 - Roser Reverte
        </footer>
    </div>
    </div>
</body>