.post-grid-container {
    display: grid;
    grid-template-rows: auto auto;
    padding: 40px;
    grid-gap: 24px;
}

.post-article {
grid-row-start: 1;
grid-row-end: 2;
background: grey;
}

.post-author {
grid-row-start: 2;
grid-row-end: 3;
background: green;
}