.header-container{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.post-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 16px;
    text-align: center;
    color: #222326;
}

.post-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #222326;
}

.post-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.post-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}