.main-container {
    background-size: cover;
    background-position: center;
}

.post-background-color {
    background-color: #ffff;
    border-top-right-radius: 6%;
    box-shadow: 9px -8px 5px -8px #8c8c8c;
}

.post-title-container{
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #222326;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.post-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}

.post-container img{
    display: flex;
    width: 100%;
}

.picture-post-fig {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: #222326;
    font-size: 10px;
    text-align: center;
}

