.navbar-container {
    display: flex;
    color: #222326;
}

.navbar-container .container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.navbar-avatar {
    vertical-align: middle;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    padding: 2px;
    margin-left: auto;
    border: dotted 1px #222326; 
}

.navbar-container ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
}

.navbar-container ul li {
    margin-left: 16px;
}

.navbar-container ul li a {
    display: block;
    position: relative;
    font-weight: 700;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 8px;
    color: #222326;
    font-family: 'Roboto', sans-serif;
    opacity: .8;
    transition: opacity .2s ease-in-out;
}

.navbar-container ul li a:hover {
    opacity: 1;
}

/* .navbar-container ul li a:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 0;
    content: '.';
    color: transparent;
    background: #ffd600;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all .3s;
}

.navbar-container ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
} */